# Portfolio Site Settings (For future server or API expansions)
PORT=3000
SITE_URL=http://localhost:3000

# Analytical and Notification endpoints
CONTACT_EMAIL=devvindj@gmail.com
ANALYTICS_ID=UA-XXXXXX-X
